<div class="center-container">
  <button mat-raised-button color="primary" class="main-button" (click)="getRecomendations()">
    Recommend me a movie!
  </button>
</div>

<div class="movie-cards-container" *ngIf="
    randomMovieByGenre ||
    randomMovieByActor ||
    randomMovieByDirector ||
    randomMovie
  ">
  <div *ngIf="randomMovieByGenre" class="movie-card">
    <mat-card>
      <mat-card-title>{{ randomMovieByGenre.title }}</mat-card-title>
      <mat-card-content>
        <p>Rating: {{ randomMovieByGenre.rating }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" class="like-button" (click)="likeMovie(randomMovieByGenre)">
          Like
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="randomMovieByActor" class="movie-card">
    <mat-card>
      <mat-card-title>{{ randomMovieByActor.title }}</mat-card-title>
      <mat-card-content>
        <p>Rating: {{ randomMovieByActor.rating }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" class="like-button" (click)="likeMovie(randomMovieByActor)">
          Like
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="randomMovieByDirector" class="movie-card">
    <mat-card>
      <mat-card-title>{{ randomMovieByDirector.title }}</mat-card-title>
      <mat-card-content>
        <p>Rating: {{ randomMovieByDirector.rating }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" class="like-button" (click)="likeMovie(randomMovieByDirector)">
          Like
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="randomMovie" class="movie-card">
    <mat-card>
      <mat-card-title>{{ randomMovie.title }}</mat-card-title>
      <mat-card-content>
        <p>Rating: {{ randomMovie.rating }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" class="like-button" (click)="likeMovie(randomMovie)">
          Like
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>