<div class="center-container">
    <button mat-raised-button color="primary" (click)="getRecomendations()">Recommend me a movie!</button>
  </div>
  
  <div class="movie-cards-container" *ngIf="randomMovieByGenre || randomMovieByActor">
    <div *ngIf="randomMovieByGenre" class="movie-card">
      <mat-card>
        <mat-card-title>{{ randomMovieByGenre.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ randomMovieByGenre.rating }}</p>
          <!-- Add more movie details here if needed -->
        </mat-card-content>
      </mat-card>
    </div>
  
    <div *ngIf="randomMovieByActor" class="movie-card">
      <mat-card>
        <mat-card-title>{{ randomMovieByActor.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ randomMovieByActor.rating }}</p>
          <!-- Add more movie details here if needed -->
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="randomMovieByDirector" class="movie-card">
        <mat-card>
          <mat-card-title>{{ randomMovieByDirector.title }}</mat-card-title>
          <mat-card-content>
            <p>{{ randomMovieByDirector.rating }}</p>
            <!-- Add more movie details here if needed -->
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="randomMovie" class="movie-card">
        <mat-card>
          <mat-card-title>{{ randomMovie.title }}</mat-card-title>
          <mat-card-content>
            <p>{{ randomMovie.rating }}</p>
            <!-- Add more movie details here if needed -->
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  